html, body {
    -webkit-text-size-adjust:none;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

nav {
    display: block;
    margin: 0 auto 30px;
}
@media (min-width: 550px) {
    .menu ul {
        display: flex;
        flex-flow: row;
        list-style: none;
        margin: 0 auto;
        background: #D4E7EE;
        overflow: hidden;
        padding: 0;
    }
}
@media (max-width: 549px) {
    .menu ul {
        display: flex;
        flex-flow: column;
        list-style: none;
        margin: 0 auto;
        background: #D4E7EE;
        overflow: hidden;
        padding: 0;
    }
}
.menu ul li {
    flex-grow: 1;
    float: left;
}
.menu a {
    display: block;
    text-align: center;
    padding: 1em;
    border: 1px solid #ADC0CE;
    background: rgba(173, 192, 206, .3);
    color: #29838C;
    transition: .5s linear;
}

.menu a:hover {
    background: #ADC0CE;
}

.newsbar img {
    width: 190px;
    transition: all 0.5s ease;
}

.newsbar img:active {
    width:400px;
}

@media screen and (min-width: 768px) {
    .layout{
        margin: auto;
        padding-bottom: 30px;
    }
    .newsbar {
        position: absolute;
        border: 3px solid #29838C;
        padding: 10px;
        width: 200px;
    }
    .content {
        position: absolute;
        left: 230px;
        padding: 5px;
    }
    .section {
        border: 4px solid  #29838C;
        padding: 10px;
    }
    .wrapper {
        position: relative;
        width: 768px;
        min-height: 100%;
        margin: 0 auto;
    }
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20px;
        background: #b0dae8;
        margin: 0 auto;
    }
}
@media screen and (max-width: 767px) and (min-width: 550px) {
    .section {
        border: 4px solid  #29838C;
        padding: 10px;
    }
    .newsbar {
        border: 3px solid #29838C;
        padding: 10px;
        width: 95%;
        margin: 0 auto;
    }

    .wrapper {
        position: relative;
        width: 550px;
        min-height: 100%;
        margin: 0 auto;
    }

    .layout {
        padding-bottom: 30px;
        width: 100%;
        margin: 0 auto;
    }

    .content {
        padding: 10px;
    }
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20px;
        background: #b0dae8;
        margin: 0 auto;
    }
}
@media screen and (max-width: 549px) {
    .section {
        border: 4px solid  #29838C;
        padding: 10px;
    }
    .newsbar {
        border: 3px solid #29838C;
        padding: 10px;
        margin: 0 auto;
    }

    .wrapper {
        position: relative;
        width: 100%;
        min-height: 100%;
        margin: 0 auto;
    }

    .layout {
        padding-bottom: 30px;
        width: 100%;
        margin: 0 auto;
    }

    .content {
        padding: 10px;
    }
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20px;
        background: #b0dae8;
        margin: 0 auto;
    }
}
